* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font_roboto: "Roboto", sans-serif;
  --font_roboto_condensed: "Roboto Condensed", sans-serif;
  --font_roboto_serif: "Roboto Serif", serif;
  --font_stint_ultra_condensed: "Stint Ultra Condensed", serif;
  --content_width: 800px;
}

html {
  font-size: 16px;
  font-family: var(--font_roboto_condensed);
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  /* user-select: none; */
}

body {
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

#root {
  width: var(--content_width);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

header,
footer,
nav,
main {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

header {
  position: relative;
}

nav {
  background-color: skyblue;
  flex-direction: column;
  gap: 24px;
}

.nav-selections-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 1px;
}

.dates-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

footer {
  color: beige;
}

.home-main,
.admin-main {
  background-color: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  color: darkcyan;
}

.admin-main {
  color: saddlebrown;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: wheat;
}

input {
  font-family: var(--font_roboto_condensed);
}
.admin-theme {
  background-color: royalblue;
}

.home-theme {
  background-color: steelblue;
}

.error-message {
  width: 100%;
  color: white;
  background-color: indianred;
  padding: 20px;
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  font-family: var(--font_roboto_condensed);
  font-weight: bold;
  font-size: 1.4rem;
}

.btn:focus {
  outline: none;
}

.admin-btn {
  background: tan;
  color: black;
  width: 160px;
}

.home-btn {
  background: navajowhite;
  color: darkslategray;
  width: 160px;
}

.btn:hover {
  filter: brightness(0.95);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.clear-btn,
.reload-btn {
  margin-top: 14px;
  font-size: 16px;
  padding: 9px 9px;
  background-color: gray;
  color: gainsboro;
  border-radius: 50%;
}

.reload-btn {
  background-color: wheat;
  color: sienna;
}

.airport-prefill-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  background-color: none;
}

.dropdown {
  background-color: none;
}

.input-label,
.dropdown-label {
  font-family: var(--font_roboto_condensed);
  font-size: 12px;
  color: dimgray;
  user-select: none;
  -webkit-user-select: none;
}

.field {
  padding: 8px 10px;
  border: none;
  border-radius: none;
  font-size: 16px;
  outline: none;
}

.field:focus {
  border-color: none;
  box-shadow: none;
}

.spinner {
  display: inline-block;
  font-size: 16px;
  animation: spin 1.2s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-out {
  animation: fadeOut 7s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
